@use "./vars.scss" as *;

.skills {
    margin-top: 2.7rem;
    color: $text-grey;
    font-family: $ubuntu;
    display: flex;
    flex-direction: column;

    .skills__headline {
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }

    .skills__icons__wrapper {
        max-width: 1100px;
        margin: 5rem auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 1rem 15em;

        @media screen and (max-width: 800px) {
            gap: 2rem 7em;
        }

        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
        }

        .skills__icons {
            display: flex;
            align-items: center;
            transition: all 300ms linear;

            @media (prefers-reduced-motion) {
                transition: none;
            }

            &.show {
                opacity: 1;
                // filter: blur(0);
                transform: translateX(0);
            }

            &.hide {
                opacity: 0;
                transform: translateX(-100%);

                svg {
                    transition: all 300ms;
                    filter: blur(5px);
                }
            }

            // &.hide:nth-child(even) {
            //     opacity: 0;
            //     filter: blur(5px);
            //     transform: translateX(100%);
            //     visibility: hidden;
            // }

            // &.hide:nth-child(odd) {
            //     opacity: 0;
            //     filter: blur(5px);
            //     transform: translateX(-100%);
            //     visibility: hidden;
            // }

            &:nth-child(even) {
                transition-delay: 250ms;

                svg {
                    transition-delay: 250ms;
                }
            }
        }

        span {
            font-size: 2rem;
            margin-left: 2rem;
        }

        .skills__icons.last {
            justify-self: center;
            grid-column: 1/3;
        }
    }
}
