// @import url("https://fonts.googleapis.com/css2?family=Comforter&family=Ubuntu:wght@300;500&display=swap");

@import "/src/style/vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    z-index: -10;
    color: white;
    background-color: black;

    &.fixed {
        overflow: hidden;
        padding-right: 5px;
    }

    @-moz-document url-prefix() {
        &.fixed {
            padding-right: 17px;
        }
    }
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: grey;
}

.js-tilt-glare {
    border-radius: 47px;
}

// @supports (display: grid) {
//     div {
//       display: grid;
//     }
//   }
//   @supports not (display: grid) {
//     div {
//       float: right;
//     }
//   }
